<%- model_class = Task -%>

<div class="tasks">
  <div class="page-header">
    <h1> Dashboard </h1>
  </div>

  <div class="new-task-log rounded-box">
    <%= render "tasks/new" %>
  </div>

  <div class="task-log-lists">
    <% if @tasks.length > 0 %>
      <h2> Your Task Log </h2>
      <%= render :partial => "tasks/daterangepicker", :datemin => @datemin, :datemax => @datemax %>
      <%= render :partial => "tasks/listing", :tasks => @tasks %>
    <% end %>
  </div>
</div>