<main class="st-masthead" id="content" role="main">
  <div class="container">
    <h1>Simple Time</h1>
    <p class="lead">Super simple Time Management Software for Independent Consultants.</p>
    <p>
      <% if current_user.nil? %>
        <a href="<%= url_for(new_user_registration_path)  %>" class="btn btn-large btn-outline-inverse btn-lg btn-primary">Get Started</a>
        <a href="<%= url_for(new_user_session_path)  %>" class="btn btn-large btn-outline-inverse btn-lg">Sign in</a>
      <% else %>
        <a href="/dashboard" class="btn btn-large btn-outline-inverse btn-lg btn-primary">Dashboard</a>
      <% end %>
    </p>
  </div>
</main>